{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure               {:mvn/version "1.10.2-alpha1"}
  org.java-websocket/Java-WebSocket {:mvn/version "1.5.1"}
  org.clojure/tools.cli             {:mvn/version "1.0.194"}
  io.pedestal/pedestal.log          {:mvn/version "0.5.7"}
  org.slf4j/slf4j-jdk14             {:mvn/version "1.7.30"}
  com.cognitect/transit-clj         {:mvn/version "1.0.324"
                                     :exclusions    [org.msgpack/msgpack]}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-601"}}}

  :native-image
  {:main-opts ["-m clj.native-image lambdaisland.funnel"
               "--initialize-at-build-time"
               "--no-fallback"
               "--enable-https"
               "-H:Name=funnel"
               "-H:Log=registerResource"
               "-H:ResourceConfigurationFiles=resource-config.json"]
   :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {clj.native-image             {:git/url "https://github.com/taylorwood/clj.native-image.git"
                                  :sha     "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}
    org.clojure/tools.deps.alpha {:mvn/version "0.7.516"
                                  :exclusions [org.slf4j/slf4j-nop]}}}}}
