{:paths ["src" "lib"]

 :deps
 {org.java-websocket/Java-WebSocket {:mvn/version "1.6.0"}
  org.clojure/tools.cli             {:mvn/version "1.1.230"}
  org.slf4j/slf4j-jdk14             {:mvn/version "2.0.17"}
  org.clojure/core.async            {:mvn/version "1.7.701"}
  com.cognitect/transit-clj         {:mvn/version "1.0.333"
                                     :exclusions  [org.msgpack/msgpack]}
  com.cnuernber/charred             {:mvn/version "1.036"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha        {:mvn/version "1.91.1392"}
                 nubank/matcher-combinators {:mvn/version "3.9.1"}}}

  :main
  {:main-opts ["-m" "lambdaisland.funnel"]}

  :native-image
  {:main-opts ["-m" "clj.native-image" "lambdaisland.funnel"
               "--echo"
               "--"
               "--initialize-at-build-time"
               "--initialize-at-run-time=lambdaisland.funnel.Daemon"
               "--no-fallback"
               "--enable-https"
               "-H:+UnlockExperimentalVMOptions"
               "-H:Name=funnel"
               "-H:Log=registerResource"
               "-H:ResourceConfigurationFiles=resource-config.json"
               "-H:+JNI"
               "-H:CLibraryPath=lib"
               "-Djava.library.path=lib"
               "-H:JNIConfigurationFiles=graal_jni.json"
               "-H:+ReportExceptionStackTraces"
               "--trace-object-instantiation=com.sun.jmx.mbeanserver.JmxMBeanServer"
               #_"--report-unsupported-elements-at-runtime"]
   :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {com.lambdaisland/clj.native-image {:git/sha "836d24a92705f2ff556709ec40ea26a0d5c8dffa"
                                       :git/url "https://github.com/lambdaisland/clj.native-image"}
    }}}}
