{:paths ["src" "resources" "lib"]

 :deps
 {org.clojure/clojure               {:mvn/version "1.10.2-alpha1"}
  org.java-websocket/Java-WebSocket {:mvn/version "1.5.1"}
  org.clojure/tools.cli             {:mvn/version "1.0.194"}
  io.pedestal/pedestal.log          {:mvn/version "0.5.7"}
  org.slf4j/slf4j-jdk14             {:mvn/version "1.7.30"}
  org.clojure/core.async            {:mvn/version "1.2.603"}
  com.cognitect/transit-clj         {:mvn/version "1.0.324"
                                     :exclusions  [org.msgpack/msgpack]}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha        {:mvn/version "0.0-601"}
                 nubank/matcher-combinators {:mvn/version "1.5.2"}}}

  :main
  {:main-opts ["-m" "lambdaisland.funnel"]}

  :native-image
  {:main-opts ["-m clj.native-image lambdaisland.funnel"
               "--echo"
               "--"
               "--initialize-at-build-time"
               "--initialize-at-run-time=lambdaisland.funnel.Daemon"
               "--no-fallback"
               "--enable-https"
               "--allow-incomplete-classpath"
               "-H:Name=funnel"
               "-H:Log=registerResource"
               "-H:ResourceConfigurationFiles=resource-config.json"
               "-H:+JNI"
               "-H:CLibraryPath=lib"
               "-Djava.library.path=lib"
               "-H:JNIConfigurationFiles=graal_jni.json"
               "-H:+ReportExceptionStackTraces"
               #_"--report-unsupported-elements-at-runtime"]
   :jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
   :extra-deps
   {clj.native-image             {:local/root "../clj.native-image"
                                  #_#_:sha "e6a8364857c6ecb2685ec271f65ae480d938aea8"
                                  #_#_:git/url "https://github.com/lambdaisland/clj.native-image"}
    org.clojure/tools.deps.alpha {:mvn/version "0.7.516"
                                  :exclusions  [org.slf4j/slf4j-nop]}}}}}
