#kaocha/v1
{:plugins [#_:kaocha.plugin/notifier
           :print-invocations
           :profiling
           :hooks]
 :kaocha.hooks/pre-load [(fn [config]
                           (require (quote clojure.java.shell))
                           (prn ((resolve (quote clojure.java.shell/sh)) "make" "compilejava"))
                           config)]
 :kaocha.plugin.capture-output/capture-output? false}
